
.atividade-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.atividade-container header{
    display: flex;
    align-items: center;
}

.atividade-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.atividade-container .cabecalho{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.atividade-container .cabecalho .button{
    width: 30%;
}